<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empleados</title>
</head>
<body>

<h1>Gestión de Empleados</h1>

<a href="/empleados/nuevo">Nuevo empleado</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Puesto</th>
        <th>Salario</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="empleado : ${empleados}">
        <td th:text="${empleado.id}"></td>
        <td th:text="${empleado.nombre}"></td>
        <td th:text="${empleado.apellido}"></td>
        <td th:text="${empleado.email}"></td>
        <td th:text="${empleado.puesto}"></td>
        <td th:text="${empleado.salario}"></td>

        <td>
            <a th:href="@{/empleados/editar/{id}(id=${empleado.id})}">
                Editar
            </a>

            <a th:href="@{/empleados/eliminar/{id}(id=${empleado.id})}">
                Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>